#preText {
    text-align: left;
    font-size: 50px;
    transition: 0.4s ease-out;
}

#preText:hover {
    position: relative;
    text-align: left;
    font-size: 51px;
    color: purple;
    transition: 0.4s ease-in;
}

#TEXT {
    font-size: 20px;
    text-align: center;
    color: black;
}

#Text2 {
    text-align: right;
    opacity: 90%;
    color: black;
}

